<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://dev.booktable.cn/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title></title>
    <th:block th:replace="fragments/headTag2 ::style "></th:block>
</head>
<body>
<div class="alert alert-warning" role="alert" th:if="${error !=null }" th:text="${error.message}">

</div>

<div class="form-panel">
    <form id="form_add" name="form" method="post"  >

         <div class="form-group">
            <label th:text="#{kids.kidsCopyData.tableName}+':'">表名:</label>
                <input type="text"  name="tableName" placeholder="表名" class="form-control" th:value="${kidsCopyDataDo?.tableName}" />
        </div>        <div class="form-group">
            <label th:text="#{kids.kidsCopyData.content}+':'">内容:</label>
                <input type="text"  name="content" placeholder="内容" class="form-control" th:value="${kidsCopyDataDo?.content}" />
        </div>

        <div class="form-group">
            	                <input type="hidden" name="id" th:value="${kidsCopyDataDo?.id}"/>
                
                    <input type="button" class="btn btn-primary" onclick='submitFn("add")'  value="保存"
                           th:value="#{i18n.submit}"/>
                 
        </div>

    </form>
</div>
<th:block th:replace="fragments/headTag2 ::script "></th:block>
<script type="text/javascript" th:inline="javascript">
    function submitFn(url) {
    	loadJsonData({url:url,data:$("#form_add").serialize(),complete:function(resultData){
                alertLayer(resultData.msg);
            }});
    }
</script>
</div></body>
</html>
 
