<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:secure="http://dev.booktable.cn/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title></title>
    <th:block th:replace="fragments/headTag2 ::style "></th:block>
</head>
<body>
<div class="page-navs bg-white">
    <div class="nav-scroller">
        <div class="nav nav-tabs nav-line nav-color-primary d-flex align-items-center justify-contents-center w-100">
            <a class="nav-link active show" data-toggle="tab" href="#listTab">[[#{i18n.all}]]
                (<span class="count ml-1 pager_totalnum"></span>）
            </a>

            <div class="selectgroup ml-auto">
                <label class="selectgroup-item" onclick="swithViewType('1')">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input"
                           checked="">
                    <span class="selectgroup-button selectgroup-button-icon"><i
                            class="fa fas fa-th"></i></span>
                </label>
                <label class="selectgroup-item" onclick="swithViewType('2')">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-th-list"></i></span>
                </label>

            </div>

        </div>
    </div>
</div>
<div class="page-inner">
    <div class="tab-content">
        <div class="tab-pane in active" id="listTab">
            <div class="card">
                <div class="card-header">


                    <form id="form_1" name="form" onsubmit="return queryStart()" method="post" class="form-inline">
                        <input type="hidden" name="pageIndex" value="1" id="pageIndex">
                        <input type="hidden" name="pageSize" value="20">
                        <input type="hidden" id="viewType" name="viewType" value="1">
                        <div class="form-group">
                            <label th:text="#{kids.kidsMediaMetadata.title}">名称</label>
                            <input type="text" class="form-control" name="k">
                        </div>



                        <div>
                            <input type="submit" class="btn btn-primary" id="queryBtn" value="查询"
                                   th:value="#{i18n.query}"/>
                        </div>

                    </form>
                </div>

                <div class="card-body table-responsive" id="datalist"></div>
                <div class="card-footer">
                    <nav aria-label="Page navigation"><ul class="pager pagination"></ul></nav>
                </div>
            </div>
        </div>

        <div id="addTab" class="tab-pane fade">
            <form id="form_add" name="form" method="post">

                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.categoryId}+':'">类别:</label>

                    <select  name="categoryId" class="select-control form-control">
                        <option th:text="#{i18n.selectPlease}" value=""></option>
                        <th:block th:each="modelObj,status: ${mediaCategoryList}">
                            <option th:value="${modelObj.id}" th:text="${modelObj.title}"
                                    th:selected="${kidsMediaMetadataDo?.categoryId == modelObj.id?true:false}"></option>
                        </th:block>
                    </select>

                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.title}+':'">名称:</label>
                    <input type="text" name="title" placeholder="名称" class="form-control"
                           th:value="${kidsMediaMetadataDo?.title}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.imageUrl}+':'">图片地址:</label>
                    <input type="text" name="imageUrl" placeholder="图片地址" class="form-control"
                           th:value="${kidsMediaMetadataDo?.imageUrl}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.mediaType}+':'">媒体类别:</label>
                    <input type="text" name="mediaType" placeholder="媒体类别" class="form-control"
                           th:value="${kidsMediaMetadataDo?.mediaType}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.mediaUrl}+':'">媒体地址:</label>
                    <input type="text" name="mediaUrl" placeholder="媒体地址" class="form-control"
                           th:value="${kidsMediaMetadataDo?.mediaUrl}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.sourceUrl}+':'">来源:</label>
                    <input type="text" name="sourceUrl" placeholder="来源" class="form-control"
                           th:value="${kidsMediaMetadataDo?.sourceUrl}"/>
                </div>
                <div class="form-group">
                    <label th:text="#{kids.kidsMediaMetadata.descs}+':'">备注:</label>
                    <input type="text" name="descs" placeholder="备注" class="form-control"
                           th:value="${kidsMediaMetadataDo?.descs}"/>
                </div>

                <div class="form-group">
                    <input type="hidden" name="id" th:value="${kidsMediaMetadataDo?.id}"/>
                    <input type="button" class="btn btn-primary" onclick='submitFn("add","#form_add")' value="提交"
                           th:value="#{i18n.submit}"/>

                </div>

            </form>
        </div>


        <div id="copyTab" class="tab-pane fade">
            <div class="form-group">
                <label class="form-control">
                    YOUTUBE 数据采集:
                </label>
                <textarea class="form-control" rows="5">document.querySelectorAll("a.ytd-compact-video-renderer").forEach(function(myE){console.log("@@DATA@@ category_id:'-int-1'  create_time:'now()' update_time:'now()' media_url:'-ytb-e-"+myE.getAttribute("href")+"'  source_url:'-ytb-w-"+myE.getAttribute("href")+"' title:\""+myE.querySelectorAll("span#video-title")[0].getAttribute("title")  +"\" image_url:'"+myE.parentElement.parentElement.parentElement.querySelectorAll("img")[0].getAttribute("src")+"'");});</textarea>
            </div>
            <form id="form_copy" name="form" method="post"  >
                <input type="hidden"  name="tableName" placeholder="表名" class="form-control" value="kids_media_metadata" />
                <div class="form-group">
                    <label th:text="#{kids.kidsCopyData.content}+':'">拷贝数据:</label>
                    <textarea name="content" placeholder="内容" class="form-control"  rows="15" ></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="id"/>
                    <input type="button" class="btn btn-primary" onclick='submitFn("../kidsCopyData/add","#form_copy")'  value="提交"
                           th:value="#{i18n.submit}"/>

                </div>

            </form>
        </div>


    </div>
</div>
<!--select2-->
<!---->

<th:block th:replace="fragments/headTag2 ::script "></th:block>


<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#queryBtn").click(queryStart);

    });

    function swithViewType(value)
    {
        $("#viewType").val(value);
        loadData();
    }
    function editFun(url) {
        openWindow({
            title:/*[[#{i18n.add('')}]]*/"",
            url: url,
            complete: function (resData) {
                loadData();
            }
        });
    }

    function submitFn(url, formobj) {
        loadJsonData({
            url: url, data: $(formobj).serialize(), complete: function (resultData) {
                queryStart();
                alertLayer(resultData.msg);
            }
        });
        // $("#form_1").submit();
    }

    function deleteFun(data) {
        confirmLayer({
            title:/*[[#{i18n.confirm.delete.title}]]*/"确定要删除？",
            msg:/*[[#{i18n.confirm.delete.unrevert}]]*/"删除后数据无法恢复!",
            noTitle:/*[[#{i18n.cancel}]]*/"取消",
            yesTitle:/*[[#{i18n.yes}]]*/"确定", yesFn: function () {
                loadJsonData({
                    url: "delete", data: data, complete: function (resultData) {
                        if (resultData.code) {
                            queryStart();
                        }
                        alertLayer(resultData.msg);
                    }
                });
            }
        });
        return false;
    }

    function loadData() {
        loadTableData({id: "datalist", url: "query", data: $("#form_1").serialize()});
    }

    function queryStart() {
        toPage(1);
        return false;
    }

    function toPage(pageIndex) {
        $("#pageIndex").val(pageIndex);
        loadData();
    }

    function play(id) {
        // openWindow({
        //     title:/*[[#{i18n.add('')}]]*/"",
        //     url: "play/" + id
        // });

        window.parent.loadPlayer("../kids/kidsMediaMetadata/play/" + id);
    }
</script>
</body>
</html>
