<div xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://dev.booktable.cn/thymeleaf/shiro">

	<th:block th:switch="${#request.getParameter('viewType')}">
	<div th:case="1" class="row row-projects">
			<th:block th:each="modelObj,status: ${pagedata.page}">
				<div class="col-sm-6 col-lg-3">
				<div class="card">

						<img th:onclick="play('[[${modelObj?.id}]]')" class="card-img-top rounded"
							 th:src="${modelObj?.imageUrl}">

					<div class="card-body pt-2">
						<p class="card-text" th:onclick="play('[[${modelObj?.id}]]')" th:text="${modelObj?.title}">
							title</p>
						<p class="text-muted small mb-2"
						   th:text="${#dates.format(modelObj?.updateTime,'yyyy-MM-dd HH:mm')}"></p>
					</div>
				</div>
				</div>
			</th:block>

	</div>
	<table th:case="2" class="table table-hover" >
        <thead>
        <tr>
            <th data-th-width="80px" th:text="#{i18n.serial}"></th>
			<th th:text="#{kids.kidsMediaMetadata.imageUrl}">图片地址</th>
			<th th:text="#{kids.kidsMediaMetadata.title}">名称</th>
			<th th:text="#{kids.kidsMediaMetadata.updateTime}">更新时间</th>
			<th data-th-width="120px" th:text="#{i18n.actions}">操作</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="modelObj,status: ${pagedata.page}">
            <td th:text="${pagedata.totalNum - pagedata.startOfPage - status.index }"></td>
			<td ><div style="height: 90px; width: 160px"><img th:onclick="play('[[${modelObj?.id}]]')" class="img-fluid" th:src="${modelObj?.imageUrl}"></div></td>
			<td th:text="${modelObj?.title}">名称</td>
			<td th:text="${#dates.format(modelObj?.updateTime,'yyyy-MM-dd HH:mm')}">更新时间</td>
            <td>
	            <div class="dropdown">
	                <a class="btn-link dropdown-toggle" data-toggle="dropdown" ><th:block th:text="#{i18n.actions}" /></a>
	                <ul class="dropdown-menu pull-right dropdown-menu-right" role="menu">
	                    <li class="dropdown-item" shiro:hasPermission="kids:kids_media_metadata:edit"   th:onclick="editFun('edit/[[${modelObj.id}]]')" ><a class="btn-link" th:text="#{i18n.edit}">修改</a></li>
	                    <li class="dropdown-item" shiro:hasPermission="kids:kids_media_metadata:delete" th:onclick="deleteFun({'id':'[[${modelObj.id}]]'})"  ><a class="btn-link"  th:text="#{i18n.delete}" >删除</a></li>
	                </ul>
	            </div>
           </td>
        </tr>

        </tbody>
    </table>

	</th:block>

    <script type="text/javascript" th:inline="javascript">
        <!--
        $(function(){
            jqPager({firstBt:/*[[#{sys.page.first}]]*/"首页",preBt:/*[[#{sys.page.previous}]]*/"上一页",nextBt:/*[[#{sys.page.next}]]*/"下一页",lastBt:/*[[#{sys.page.last}]]*/"末页",totalPages:[[${pagedata.totalPage}]],pageIndex:[[${pagedata.pageIndex}]],totalNum:[[${pagedata.totalNum}]],change:toPage});
        });
        //-->
    </script>
</div>
