<div xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://dev.booktable.cn/thymeleaf/shiro">
    <table class="table table-hover" >
        <thead>
        <tr >
            <th style="width:60px; min-width: 60px;" th:text="#{i18n.serial}">序号</th>
            <th th:text="#{sys.profile.loginId}">用户名</th>
            <th th:text="#{sys.profile.nickName}">姓名</th>
            <th th:text="#{i18n.status(#{i18n.lockin})}">锁定状态</th>
            <th th:text="#{i18n.createTime}">注册时间</th>
        </tr>
        </thead>
        <tbody  >

        <tr th:each="modelObj,status: ${pagedata.page}">
            <td th:text="${pagedata.totalNum - pagedata.startOfPage - status.index }"></td>
            <td th:text="${modelObj.userName}"></td>
            <td th:text="${modelObj.realName}"></td>
            <td >
                <th:block th:if="${modelObj.locked==2}"><span class="label label-warning">[[#{i18n.lockin}]]</span></th:block>
                <th:block th:unless="${modelObj.locked==2}"><span class="label label-success">[[#{i18n.unlock}]]</span></th:block>
            </td>
            <td th:text="${#dates.format(modelObj.createTime,'yyyy-MM-dd HH:mm:ss')}"> </td>
        </tr>

        </tbody>
    </table>


    <ul class="pager" id="pager">
    </ul>
    <script type="text/javascript" th:inline="javascript">
        <!--
        $(function(){
            jqPager({id:"pager",firstBt:/*[[#{sys.page.first}]]*/"首页",preBt:/*[[#{sys.page.previous}]]*/"上一页",nextBt:/*[[#{sys.page.next}]]*/"下一页",lastBt:/*[[#{sys.page.last}]]*/"末页",totalPages:[[${pagedata.totalPage}]],pageIndex:[[${pagedata.pageIndex}]],change:toPage});
        });
        //-->
    </script>
</div>
