<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:secure="http://dev.booktable.cn/thymeleaf/shiro">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="activity" >
    <!-- 显示操作信息 -->
    <div id="promptMsg"></div>

        <div class="form-panel">
            <form id="form_editUser" name="form"    action="add" method="post" class="form-horizontal"  >

                <input type="hidden" name="id" th:value="${shopCategory?.id}" />
                <div class="form-group" th:if="${#strings.isEmpty(shopCategory?.name)}">
                    <label for="addRole_roleName" class="col-sm-2" th:text="#{shop.category}">分类名称:</label>
                    <div class="col-sm-10">
                        <input type="text"  id="addRole_roleName" name="userName" class="form-control"  th:value="${shopCategory?.name }" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" class="btn btn-primary" onclick="editUser()" id="submitBtn" value="确定" th:value="#{i18n.ok}" />
                    </div></div>
            </form>
        </div>


    </div>

</body>
</html>