<div xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://dev.booktable.cn/thymeleaf/shiro">
    <table class="table table-hover" >
        <thead>
        <tr >
            <th style="width:60px; min-width: 60px;" th:text="#{i18n.serial}">序号</th>
            <th th:text="#{i18n.level}">级别</th>
            <th th:text="#{i18n.mode}">模块</th>
            <th th:text="#{sys.profile.nickName}">呢称</th>
            <th th:text="#{i18n.createTime}">创建时间</th>
            <th th:text="#{i18n.actions}">操作</th>
        </tr>
        </thead>
        <tbody  >

        <tr th:each="modelObj,status: ${pagedata?.page}">
            <td th:text="${pagedata.totalNum - pagedata.startOfPage - status.index }"></td>
            <td th:text="${modelObj?.level}"></td>
            <td th:text="${modelObj?.mode}"></td>
            <td th:text="${modelObj?.realName}"></td>
            <td th:text="${#dates.format(modelObj.createTime,'yyyy-MM-dd HH:mm:ss')}"> </td>
            <td >
                <div class="dropdown">
                    <a class="btn-link dropdown-toggle" data-toggle="dropdown"><th:block th:text="#{i18n.actions}"></th:block> <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li shiro:hasPermission="sys:actionlog:view"><a class="btn-link"  data-toggle="modal" th:href="@{view(id=${modelObj?.id })}" th:text="#{i18n.view}"></a></li>
                    </ul>
                </div>
            </td>
        </tr>

        </tbody>
    </table>


    <ul class="pager" id="pager">
    </ul>
    <script type="text/javascript" th:inline="javascript">
        <!--
        $(function(){
            jqPager({id:"pager",firstBt:/*[[#{sys.page.first}]]*/"首页",preBt:/*[[#{sys.page.previous}]]*/"上一页",nextBt:/*[[#{sys.page.next}]]*/"下一页",lastBt:/*[[#{sys.page.last}]]*/"末页",totalPages:[[${pagedata.totalPage}]],pageIndex:[[${pagedata.pageIndex}]],change:toPage});
        });
        //-->
    </script>
</div>